aiohttp
bottle
einops
freetype_py
googletrans
networkx
numpy
opencv_python
oscrypto
Pillow
pyclipper
pydensecrf@https://github.com/lucasb-eyer/pydensecrf/archive/refs/heads/master.zip
Requests
scikit_learn
scipy
Shapely
scikit-image
torch
torchvision
tqdm
